region            = "us-east-1"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"
key_pair_name     = "zama"

github_repo     = "https://github.com/haroldsphinx/private-blockchain"
bootnode_pubkey = ""
bootnode_enr    = ""
