region            = "us-east-1"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
key_pair_name     = "zama"

github_repo     = "https://github.com/yourusername/zama-pevm-testnet.git"
bootnode_pubkey = ""
bootnode_enr    = ""
