# Minimal ArgoCD values for minikube deployment.
server:
  service:
    type: NodePort

  extraArgs:
    - --insecure

configs:
  params:
    server.insecure: true

  cm:
    timeout.reconciliation: 180s

controller:
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
