name: Terraform Plan & Apply

on:
  push:
    branches:
        - main
  pull_request:
    branches:
        - main

jobs:
  terraform:
    name: Terraform Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform fmt check
        working-directory: terraform/environments/testnet
        run: terraform fmt -check -recursive

      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform init 
        working-directory: terraform/environments/testnet
        run: terraform init -backend=false

      - name: Terraform validate
        working-directory: terraform/environments/testnet
        run: terraform validate

      - name: Terraform plan
        working-directory: terraform/environments/testnet
        run: terraform plan -out plan.out

      - name: Terraform show plan
        working-directory: terraform/environments/testnet
        run: terraform show plan.out > plan.txt

      # Intentionally skipping terraform apply here cos I would rather do this with Atlantis where changes are much easier to review and approve
